# Backend (Django / Python)
*.pyc
__pycache__/
venv/
.env
.env.*
*/.env
*/.env.*


# Frontend (Node / Vite)
node_modules/
dist/
dist-ssr/

# General
.DS_Store
Thumbs.db

# Logs
logs/
*.log

db.sqlite3
